<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fty.onlinecar.dao.TripDetailMapper">
    <resultMap id="BaseResultMap" type="com.fty.onlinecar.entity.TripDetail">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="driver_id" jdbcType="INTEGER" property="driverId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="p_id" jdbcType="INTEGER" property="pId"/>
        <result column="all_seat_num" jdbcType="INTEGER" property="allSeatNum"/>
        <result column="surplus_seat_num" jdbcType="INTEGER" property="surplusSeatNum"/>
        <result column="departure_time" jdbcType="VARCHAR" property="departureTime"/>
        <result column="state" jdbcType="VARCHAR" property="state"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="trips_direction" jdbcType="VARCHAR" property="tripsDirection"/>
    </resultMap>

    <select id="driverTriplist" resultType="com.fty.onlinecar.base.ResultMap">
        select td.*,u.name,u.phone from trip_detail td
        left join users u
        on u.id = td.driver_id
        where 1=1
        and td.state != 3
        and td.p_id is null
        and to_days(td.create_time) = to_days(now())
        <if test="params.times!=null and params.times!=''">
            and td.departure_time = #{params.times}
        </if>
        <if test="params.tripsDirection!=null and params.tripsDirection !=''">
            and td.trips_direction = #{params.tripsDirection}
        </if>
        order by u.integral desc
    </select>

    <select id="findCurTripByDriver" resultMap="BaseResultMap">

        select * from trip_detail
          where 1=1
          and state!=3
          and driver_id = #{params.driverId}
          and p_id is null
          and to_days(create_time) = to_days(now());
    </select>

    <select id="findPeersPassenger" resultType="com.fty.onlinecar.base.ResultMap">

        select td.*,u.phone,cd.coupon_id,c.name as couponName,c.money from trip_detail td
        left join users u
        on u.id = td.user_id
        left join coupon_detail cd
        on cd.trip_id = td.id
        left join coupon c
        on c.id=cd.coupon_id
        where 1=1
        and td.state != 3
        and  td.p_id = #{tripId}
    </select>

    <select id="findCurTripByPassenger" resultType="com.fty.onlinecar.base.ResultMap">

    select td.*,d.name as driverName,d.phone as driverPhone,cd.coupon_id,c.name as couponName,c.money from trip_detail td
		left join users d
        on d.id = td.driver_id
        left join coupon_detail cd
        on cd.trip_id = td.id
        left join coupon c
        on c.id=cd.coupon_id
          where 1=1
          and (td.state = 1 or td.state = 5)
          and td.user_id = #{params.passengerId}
          and   to_days(td.create_time) = to_days(now());
    </select>
    <select id="getById" resultType="com.fty.onlinecar.base.ResultMap">
        select td.*,u.phone,u.name from trip_detail td
        left join users u
        on u.id = td.driver_id
        where 1=1
        and  td.id = #{id}
    </select>
</mapper>