<div xmlns:th="http://www.thymeleaf.org" th:fragment="menu">

    <script th:src="@{/static/layui/layui.js}"></script>
    <div class="layui-side layui-bg-black ">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-filter="leftnav">

                <li class="layui-nav-item ">
                    <a href="javascript:;">基础设置</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-url="supplier" data-id="1">司机管理</a></dd>
                        <dd><a href="javascript:;" data-url="customer" data-id="2">乘客管理</a></dd>
                        <dd><a href="javascript:;" data-url="repertory" data-id="3">优惠券管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item ">
                    <a href="javascript:;">系统管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-url="company" data-id="4">公司信息管理</a></dd>
                    </dl>
                </li>
                <!--<li  shiro:hasAnyRoles="superadmin,admin,branchManager" class="layui-nav-item ">-->
                <!--<a href="javascript:;">系统配置</a>-->
                <!--<dl class="layui-nav-child">-->
                <!--<dd shiro:hasRole="superadmin"><a href="javascript:;" data-url="white/list" data-id="3">白名单</a></dd>-->
                <!--<dd shiro:hasRole="superadmin,admin"><a href="javascript:;" data-url="message/notice"-->
                <!--data-id="3">公告</a></dd>-->
                <!--<dd shiro:hasAnyRoles="superadmin"><a href="javascript:;" data-url="company/list" data-id="7">公司管理</a></dd>-->
                <!--<dd shiro:hasAnyRoles="superadmin,admin,branchManager"><a href="javascript:;"-->
                <!--data-url="staff/list"-->
                <!--data-id="4">人员管理</a></dd>-->
                <!--<dd shiro:hasRole="superadmin"><a href="javascript:;" data-url="role/list" data-id="5">权限管理</a></dd>-->
                <!--<dd shiro:hasRole="superadmin"><a href="javascript:;" data-url="group/list" data-id="2">分组管理</a></dd>-->
                <!--</dl>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</div>