
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8"/>
    <title>司机管理</title>
    <div th:include="fragment/head :: head"></div>
</head>
<body>
<form class="layui-form"  method="post" id="addDrivers">

    <div class="layui-form-item">
        <label class="layui-form-label">司机姓名</label>
        <div class="layui-input-inline">
            <input type="text" name="name" required ="required" lay-verify="required" placeholder="司机姓名" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">司机手机号</label>
        <div class="layui-input-inline">
            <input type="text" name="phone" placeholder="司机手机号" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">司机性别</label>
        <div class="layui-input-inline">
            <input type="text" name="sex" placeholder="司机性别" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">司机年龄</label>
        <div class="layui-input-inline">
            <input type="text" name="age" placeholder="司机年龄" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">司机身份证号</label>
        <div class="layui-input-inline">
            <input type="text" name="idcard" placeholder="司机身份证号" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">司机车牌号</label>
        <div class="layui-input-inline">
            <input type="text" name="carNum" placeholder="司机车牌号" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">司机驾龄</label>
        <div class="layui-input-inline">
            <input type="text" name="drivingExperience" placeholder="司机驾龄" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <input type="hidden" name="state" value="1"/>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button  class="layui-btn" lay-submit="lay-submit" lay-filter="drivers">立即提交</button>
        </div>
    </div>
</form>
</body>
<script th:src="@{/static/layui/layui.js}"></script>
<script th:inline="javascript">

    /*<![CDATA[*/
    layui.use('form', function () {
        var form=layui.form
            ,$ = layui.$;
        //监听提交
        form.on('submit(drivers)', function(data){
            $.ajax({
                url:"addDriver",
                type:"post",
                dataType:'json',
                contentType:'application/json;charset=utf-8',
                data:JSON.stringify(data.field),
                success:function (data) {
                    $("#addDrivers")[0].reset();
                    layer.msg(data.message);
                }
            });
            return false;
        });
    });
    /*]]>*/
</script>
</html>
