<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>公司信息管理</title>
    <div th:include="fragment/head :: head"></div>
</head>
<body>
<!--<a class="layui-btn layui-btn-sm" id="update">修改公司信息</a>-->

<!--<table id="company" lay-filter="company"></table>-->
asdfasdfasdfasdf
<div th:include="fragment/menu :: menu"></div>
<!--<script type="text/html" id="update">-->
    <!--<a class="layui-btn  layui-btn-xs" lay-event="update">修改</a>-->
<!--</script>-->
<div id="form" style="display: none">

</div>

<script th:src="@{/static/layui/layui.all.js}"></script>

</body>
</html>