<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>title</title>
    <div th:include="fragment/head :: head"></div>
</head>
<body>
<a class="layui-btn layui-btn-sm" id="add">添加司机</a>

<table id="drivers" lay-filter="drivers"></table>
<script type="text/html" id="operation">
    <a class="layui-btn  layui-btn-xs" lay-event="detail">详情</a>
    <a class="layui-btn  layui-btn-xs" lay-event="del">删除</a>
</script>
<div id="form" style="display: none">

</div>

<script th:src="@{/static/layui/layui.js}"></script>
<script th:inline="javascript">

    /*<![CDATA[*/
    layui.use(['table', 'form'], function () {
        var table = layui.table
            , $ = layui.$
            , form = layui.form;
        //员工
        var userinfos = table.render({
            elem: '#drivers'
            , id: 'drivers'
            , url: 'list' //数据接口
            , method: 'post'
            , page: true //开启分页
            , size: 'sm'
            , cols: [[ //表头
                {field: 'name', title: '姓名', width: '20%', sort: true}
                , {field: 'sex', title: '性别', width: '10%', sort: true}
                , {field: 'carNum', title: '车牌号', width: '20%', sort: true}
                , {field: 'idcard', title: '身份证号', width: '20%', sort: true}
                , {field: 'integral', title: '积分', width: '10%', sort: true}
                , {field: 'operation', title: '操作', width: '20%', sort: true, toolbar: '#operation'}
            ]]
        });
        $("#add").click(function () {
            layer.open({
                type: 2
                , title: '添加司机信息'
                , area: ['500px', '300px']
                , content: ["toAdd", "yes"] // 第二个参数代表滚动条
                , cancel: function () {
                    userinfos.reload();
                }

            })
        });
        table.on('tool(drivers)', function (obj) {
            var layEvent = obj.event;
            var data = obj.data;
            console.log(data);
            if (layEvent === 'del') {
                layer.confirm("确定删除？", function (index) {
                    obj.del();
                    layer.close(index);
                    $.ajax({
                        url: 'delete',
                        type: "post",
                        dataType: "json",
                        data: {id: data.id},
                        success: function (data) {
                            layer.message(data.message);
                            window.location.reload();
                        }
                    });
                })
            }
            if (layEvent === 'detail') {
                setDetail(data);
                layer.open({
                    type: 1
                    , title: '司机信息详情'
                    , area: ['500px', '300px']
                    , content: $('#detail')
                    , cancel: function () {
                        userinfos.reload();
                    }

                })
            }
        })


        function setDetail(driver){
            console.log(driver)
            $("span[name='name']").text(driver.name ? driver.name : '无数据');
            $("span[name='sex']").text(driver.sex ? driver.sex : '无数据');
            $("span[name='age']").text(driver.age ? driver.age : '无数据');
            $("span[name='idcard']").text(driver.idcard ? driver.idcard : '无数据');
            $("span[name='carNum']").text(driver.carNum ? driver.carNum : '无数据');
        }

    });


    /*]]>*/
</script>
</body>

<div id="detail" style="display: none">
    司机名称:  <span name="name"></span><br/>
    司机性别:  <span name="sex"></span><br/>
    司机年龄:  <span name="age"></span><br/>
    司机车牌号:  <span name="carNum"></span><br/>
    司机驾龄:  <span name="name"></span><br/>
    司机身份证号:  <span name="idcard"></span><br/>
</div>
</html>