<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>管理系统</title>
    <div th:include="fragment/head :: head"></div>
</head>
<body>
<div class="">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <ul class="layui-nav layui-nav-right">
                <li class="layui-nav-item">
                    <a th:text="${name}"><img src="http://t.cn/RCzsdCq" class="layui-nav-img"/></a>
                    <dl class="layui-nav-child">
                        <dd><a id="chang"><i class="layui-icon">&#xe6b2;</i><cite> 修改密码</cite></a></dd>
                        <!--<dd><a href="javascript:;"><i class="layui-icon">&#xe6b2;</i> 安全管理</a></dd>-->
                        <dd><a href="loginOut"><i class="layui-icon">&#xe6b2;</i> 退出</a></dd>
                    </dl>
                </li>

            </ul>
        </div>
        <div th:include="fragment/menu :: menu"></div>

        <div class="layui-body " style="bottom: 0">
            <div class="layui-tab layui-tab-brief "  lay-filter="tab" lay-allowclose="true">
                <ul class="layui-tab-title ">
                    <li lay-id="0" class="layui-this">首页</li>
                </ul>

                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <div th:text="${name}"> }"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/static/layui/layui.js}"></script>
<!-- layui规范化用法 -->
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    layui.config({
        base: 'static/layui/js/'
    }).use('home');

    /*]]>*/

</script>
</body>

</html>