<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>登录</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
    <link th:href="@{/static/login/css/page.css}" rel="stylesheet"/>
    <link th:href="@{/static/login/css/new-loginV2.css}" rel="stylesheet"/>
</head>
<body>

<div id="page">
    <div id="header" class="clearfix" data-spm="1000340">
        <div class="logo">
            <h1>登录</h1>
        </div>
    </div>
    <div id="content">
        <div class="login-newbg"
             style="background-color: #393D49; height: 600px;">
        </div>
        <div class="content-layout">
            <div class="box-login login-box-warp">
                <div class="login-box module-static">
                    <div class="static-form ">
                        <div class="login-title">用户登录</div><p style="color: red; font-size: 13px" th:text="${error}"></p>
                        <form action="systemUserLogin" class="form-login" method="post" autocomplete="off" id="login">
                            <!--<div id="login_Message"-->
                            <!--th:unless="${#strings.isEmpty(#strings.toString(errmsg))}"-->
                            <!--class="login-msg error" th:text="${#strings.toString(errmsg)}">-->
                            <!--</div>-->
                            <div class="field username-field">

                                <label for="login_username">
                                    <i class="fa fa-user fa-lg"></i>
                                </label>
                                <input type="text" name="log_username" id="login_username" class="login-text" placeholder="用户名"/>
                            </div>
                            <div class="field pwd-field">
                                <label for="log_pwd">
                                    <i class="fa fa-lock fa-lg"></i>
                                </label>
                                <input type="password" name="log_password" id="log_pwd" class="login-text" autocomplete="off" placeholder="密码" />
                            </div>
                            <!--<div  th:unless="${#strings.isEmpty(#strings.toString(tig))}" th:text="${#strings.toString(tig)}"></div>-->
                            <div class="submit">
                                <button type="button" id="login_submit" onclick="login()">登录</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="agreement-layout"></div>
        <!--<input type="hidden" th:value="${loginModel}" id="loginModel"/>-->
    </div>
</div>
<script type="text/javascript" th:src="@{/static/jquery/jquery-3.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/login/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/login/js/login.js}"></script>
<script type="text/javascript">
    $(function () {
        init();
    });


    function login(){
        // alert("提交验证");
        var username = $("#login_username").val();
        var password = $("#log_pwd").val();

        if(username==null || username==""){
            alert("用户名不能为空");
            return null;
        }
        if(password==null || password==""){
            alert("密码不能为空");
            return null;
        }
        $("#login").submit();
    }
</script>
</body>
</html>